# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# =========================
# Logs
# =========================
logs/
*.log
*.out

# =========================
# System
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# FPGA / Xilinx generated
# =========================
*.xclbin
*.bit
*.jou
*.log
*.str
*.tmp

# =========================
# Data files
# =========================
data/
*.jpg
*.png
*.mp4

# =========================
# Virtual env
# =========================
venv/
.env/

# =========================
# Editor
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.swp
*~